<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>creative menu</title>
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/fontawesome.css">
    <link rel="stylesheet" href="../css/all.css">


    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.1/jquery.min.js"></script>
</head>
<body>
    <div>

        <div id="container">
            <ul id="menu">
                <div class="logo">
                    <img src="../image/logo.jpg" width="95px" height="96px" />

                    <p><b></b></p>
                </div>
                <li>
                    <a href="#footer">راه ارتباطی</a>
                </li>

                <li>
                    <a href="#list">محصولات</a>
                    <ul>
                        <li><a href="">تردمیل</a></li>
                        <li><a href="">اسپلینگ</a></li>
                        <li><a href="">دستگاه چندکاره</a></li>
                        <li><a href="">دوچرخه</a></li>
                    </ul>
                </li>


                <li>
                    <a href="#slider">صفحه اصلی</a>

                </li>
            </ul>
            <div class="clear"></div>
        </div>
        <div class="slideshow" id="slider">
            <ul class="slider">
                <li>
                    <img class="sports" src="../image/IMG-20200919-WA0055.jpg">

                </li>

                <li>
                    <img class="sports" src="../image/IMG-20200919-WA0047.jpg">

                </li>
                <li>
                    <img class="sports" src="../image/-rowing-machin.jpeg.jpg">

                </li>
                <li>
                    <img class="sports" src="../image/192.jpg">

                </li>

            </ul>
            <ol class="pagination">
                <!-- <li><span  class="fa fa-circle"></span></li>

            <li><span  class="fa fa-circle"></span></li>
            <li><span  class="fa fa-circle"></span></li>
            <li><span  class="fa fa-circle"></span></li> -->

            </ol>
            <div class="left">
                <span class="fa fa-chevron-left"></span>

            </div>
            <div class="right">
                <span class="fa fa-chevron-right"></span>
            </div>
        </div>
    </div>
    <div class="clear"></div>
    <div class="list" id="list">
        <h3>نمونه محصولات</h3>
        <div class="productSample" id="productSample">

        </div>

    </div>
    <div class="clear"></div>
    <div class="footer" id="footer">


        <div class="label">
            <h2>راه ارتباطی باما</h2>
        </div>

        <form>
            <input class="submit" type="submit" value="sing up">
            <input class="input" type="email" required>

        </form>
        <div class="social-media">
            <a href="#"><i class="fab fa-instagram"></i></a>
            <a href="#"><i class="fab fa-whatsapp"></i></a>
            <a href="#"><i class="fab fa-telegram"></i></a>
        </div>
        <p class="copyrights">&copy:گروه ورزشی تندیس شقایق</p>
        <script type="text/javascript" src="../js/script.js"></script>
</body>

</html>